body {
  margin: 0;
  padding: 0;
}

.images-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  column-gap: 10px;
  row-gap: 50px;
  place-items: center;
}

.images-wrapper img {
  margin: 5px;
  border-radius: 5px;
}
